<style>
    p { color:darkslategray; 
        left: 10px; 
        font-size: 15px; 
        font-family: lucida Sans;}
  </style>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Products">
      <p>There are wide range of Products that are offered by us.<br>
        To start with following is the list:<br>
      </p>
      <ul>
        <li>Bush</li>
        <li>Brush</li>
        <li>Bearing</li>
        <li>Screw-Driver</li>
      </ul>
    </mat-tab>
  <mat-tab label="Infrastructure">Content 2</mat-tab>
  <mat-tab class="my-custom-class" label="About Us">Content 3</mat-tab>
</mat-tab-group>