<div class="row">
    <script>
        $(document).ready(function(){
            $("#dropdownBasic1 .btn").click(function(){
                $(this).button('toggle');
            });
        });
        </script>

  
<div class="col" style="text-align: right">
    <div ngbDropdown class="d-inline-block">
      <button (click)="onClick(1)" class="btn btn-primary btn-sm"  id="dropdownBasic1" ngbDropdownToggle>Home</button>
    </div>
</div>

    <div class="col" style="text-align: left">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>About the Company</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="onClick(0)" ngbDropdownItem>Action - 1</button>
            <button (click)="onClick(0)" ngbDropdownItem>Another Action</button>
            <button (click)="onClick(1)" ngbDropdownItem>Something else is here</button>
          </div>
        </div>
    </div>

    <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Products</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
            </div>
        </div>
    </div>

    <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Infrastructure</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
            </div>
        </div>
    </div>

      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Customers</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
            </div>
        </div>
      </div>

      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Quality Assurance</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
            </div>
        </div>
      </div>

      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Conflict of Material</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
            </div>
        </div>
      </div>

      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Contact Us</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
            </div>
        </div>
      </div>
  </div>
  <div>
</div>
  <div class="row" *ngIf="selectedMenuItem == 1">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img style="max-height: 500px;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
  </div>