<div class="row">
    <div class="column">
      <div class="card">
        <h3>Contact Us</h3>
        <!-- <p>Website: <a href="www.google.com">ASCO Industries</a></p> -->
        <p>Telephone: +91-9898989898</p>
        <p>Email: ascoindiapvtltd@gmail.com</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>Location</h3>
        <p>Address:<br>
            Auto Suspension Parts Co.,<br>489/1, Gyaspur Chowk, G.T. Road<br>
            Ludhiana, Punjab 141014, IN</p>
            <!-- <p>Location Pin: <a href="www.google.com">click here</a></p> -->
      </div>
    </div>
    
    <!-- <div class="column">
      <div class="card">
        <h3>Card 3</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div> -->
    
    <!-- <div class="column">
      <div class="card">
        <h3>Card 4</h3>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div> -->
  </div>