* {
    box-sizing: border-box;
  }

  
  /* Float two columns side by side */
  .column {
    float: right;
    width: 45%;
    padding: 10px;
    margin-left: 2%;
  }
  
  Remove extra left and right margins, due to padding
  .row {margin: 5px;}
  
  .alignment{
    justify-content: center;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 90%;
      display: block;
      /* margin-bottom: 5%;
      margin-left: 5%;
      margin-right: 5%; */
      margin: 5%;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    height: 100%;
    color: whitesmoke;
    background-color: whitesmoke;
  }