div {
    overflow: inherit;
}
a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}
button{
    font-size: 110%;
    min-width: min-content;
}
.example-icon {
    padding: 0 14px;
  }

  mat-card img{
     /*this makes the image in src fit to the size specified below*/
    width: 80%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 40%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-sidenav-content{
      font-size: 200%;
  }

  .styling{
    font-size: smaller;
    width: 100%;
    background: #007bff;
    border: none;
    border-radius: unset;
    color: white;
  }

  .styling:click {
    color: #007bff;
    background-color: #007bff;
    border: none !important;
}

  .example-card {
    max-width: 100%;
    max-height: 70%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .width {
      width: 100%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -15px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}





/* CSS for Footer Cards containing "Contact Us" information */

* {
    box-sizing: border-box;
  }


  /* Float four columns side by side */
  .column {
    float: right;
    width: 45%;
    padding: 10px;
    margin-left: 2%;
  }

  Remove extra left and right margins, due to padding
  .row {margin: 5px;}

  .alignment{
    justify-content: center;
    margin: 0px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 90%;
      display: block;
      /* margin-bottom: 5%;
      margin-left: 5%;
      margin-right: 5%; */
      margin: 5%;
    }
  }

  /* Style the counter cards */
  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 16px;
    text-align: center;
    height: 13em;
    color: #007bff;
    background-color: whitesmoke;
    margin-bottom: 5%;
    border-color: whitesmoke;
  }

  .automotive-social-icons > a {
    /* color: white; */
    font-size: 26px;
  }

  .automotive-footer > .column {
    overflow: hidden;
  }

  .automotive-vertical-divider {
    border-left:1px solid white;
    height:30px;
    vertical-align: middle;
  }

  .automotive-dropdown-menu {
    background: rgba(255, 255, 255, 0.7);
  }

  .automotive-dropdown-item:hover {
    background: #007bff;
    color: white;
  }

  .automotive-page-content {
    margin-top: 58px
  }

  .automotive-fixed-header {
    position: fixed;
    z-index: 9999;
    height: 65.5px;
    background: #007bff;
  }

  .asco-logo {
    width: 7em;
    cursor: pointer;
  }

  .image-dataholder {
    background-color:black;
    opacity: 0.6;
    margin-bottom: 2%;
  }

  .mat-divider{
    border-top-width: 4px;
    border-top-color: #007bff;
  }